:root {
  --color-black: #121212;
  --color-green: #34C94B;
}

.button {
  font-family: 'Poppins', sans-serif !important;
  background-color: var(--color-black) !important;
  color: var(--color-green) !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
  text-transform: none !important;
  cursor: pointer !important;
  margin-right: 50px !important;
}

.button:hover {
  opacity: 0.9 !important;
}